<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlertHeading</key>
	<string>$(ALERT_HEADING)</string>
	<key>AppCenterKey</key>
	<string>$(APPCENTER_KEY)</string>
	<key>AppLogo</key>
	<string>logo</string>
	<key>AppStoreUrl</key>
	<string>$(APPSTORE_URL)</string>
	<key>AppVersionVisibility</key>
	<string>$(APP_VERSION_VISIBILITY)</string>
	<key>BatteryLevelVisibility</key>
	<string>$(BATTERY_LEVEL_VISIBILITY)</string>
	<key>BuildTarget</key>
	<string>$(BUILD_TARGET)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>AX100</string>
	<key>CFBundleExecutable</key>
	<string>Ax100</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ENDPOINT_URL</key>
	<string>$(ENDPOINT_URL)</string>
	<key>EncryptionIv</key>
	<string>$(ENCRYPTION_IV)</string>
	<key>EncryptionKey</key>
	<string>$(ENCRYPTION_KEY)</string>
	<key>EncryptionPassword</key>
	<string>$(ENCRYPTION_PASSWORD)</string>
	<key>FactoryResetVisibility</key>
	<string>$(FACTORY_RESET_VISIBILITY)</string>
	<key>GoogleServiceInfo</key>
	<string>$(GOOGLE_SERVICE_INFO)</string>
	<key>IsFromProduction</key>
	<string>$(IS_FROM_PRODUCTION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>192.168.4.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Our app uses bluetooth technology to connect with nearby Smart Locks</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Our app uses bluetooth technology to connect with nearby Smart Locks</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Our app uses location to determine the nearby WIFI Smart Locks and connect seamlessly</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Our app uses location to determine the nearby WIFI Smart Locks and connect seamlessly</string>
	<key>PrivacyUrl</key>
	<string>$(PRIVACY_URL)</string>
	<key>PublicKeyHash3</key>
	<string>$(PUBLIC_KEY_HASH_3)</string>
	<key>PublicKeyHash4</key>
	<string>$(PUBLIC_KEY_HASH_4)</string>
	<key>PublicKeyHashOne</key>
	<string>$(PUBLIC_KEY_HASH_ONE)</string>
	<key>PublicKeyHashTwo</key>
	<string>$(PUBLIC_KEY_HASH_TWO)</string>
	<key>SKAdNetworkIdentifier</key>
	<dict/>
	<key>SKAdNetworkItems</key>
	<array/>
	<key>ScratchCodeError</key>
	<string>$(SCRATCH_CODE_ERROR)</string>
	<key>ScratchCodeLength</key>
	<string>$(SCRATCH_CODE_LENGTH)</string>
	<key>ScratchCodePrefix</key>
	<string>$(SCRATCH_CODE_PREFIX)</string>
	<key>ScratchCodeValidationCount</key>
	<string>$(SCRATCH_CODE_VALIDATION_COUNT)</string>
	<key>TargetName</key>
	<string>$(TARGET_NAME)</string>
	<key>TermsAndConditions</key>
	<string>$(TERMS_CONDITION_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UnableTo_connect</key>
	<string>$(UNABLE_TO_CONNECT_LOCK)</string>
</dict>
</plist>
